{% extends 'shared/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <center style="margin-top : 20px;">
            <img class="home-image" src="../../static/styles/SDS-train.png" alt="Steam driven train" width="300" height="300">
            <div style="margin-top : 20px;">
                <h1 class="homeTitle">Welcome to Steam Driven School</h1>
                <a href="{% url 'sdsapp:projects'%}" class="btn btn-primary active btn-lg " role="button" aria-pressed="true" style="border: 2px solid black;">Browse Projects</a>
                <a href=/project/form class="btn btn-primary active btn-lg " role="button" aria-pressed="true" style="border: 2px solid black;">Add New Project</a>
            </div>
        </center>
    {% else %}
        <center style="margin-top : 20px;">
        <img class="home-image" src="../../static/styles/SDS-train.png" alt="Steam driven train" width="300" height="300">
            <h1 class="homeTitle">Welcome to Steam Driven School</h1>
            <div style="margin-top : 20px;">
                <a href="{% url 'sdsapp:login'%}" class="btn btn-primary active btn-lg " role="button" aria-pressed="true" style="border: 2px solid black;">Login</a>
                <a href="{% url 'sdsapp:register'%}" class="btn btn-primary active btn-lg " role="button" aria-pressed="true" style="border: 2px solid black;">Register</a>
            </div>
        </center>
    {% endif %}

{% endblock %}