{% extends 'shared/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <center style="margin-top : 20px;">
            <div style="margin-top : 20px;">
                <h1 class="homeTitle">Welcome to Steam Driven School</h1>
                <a href="{% url 'sdsapp:projects'%}" class="btn btn-light active btn-sm " role="button" aria-pressed="true">Browse Projects</a>
                <a href=/project/form class="btn btn-light active btn-sm " role="button" aria-pressed="true">Add New Project</a>
            </div>
        </center>
    {% else %}
        <center style="margin-top : 20px;">
            <h1 class="homeTitle">Welcome to Steam Driven School</h1>
            <div style="margin-top : 20px;">
                <a href="{% url 'sdsapp:login'%}" class="btn btn-light active btn-sm " role="button" aria-pressed="true">Login</a>
                <a href="{% url 'sdsapp:register'%}" class="btn btn-light active btn-sm " role="button" aria-pressed="true">Register</a>
            </div>
        </center>
    {% endif %}

{% endblock %}