{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <center style="margin-top : 20px;">
                <h1 class="profileTitle">Profile</h1>
                </center>
            <div style="margin-top : 20px;">
                <div class="card profile-card" style="width: 50rem; margin-left:auto; margin-right:auto;">
                    <div class="card-body">
                        <center>
                            <h2 class="card-title">{{user.first_name}} {{user.last_name}}</h2>
                        </center>
                        <div>
                            <label class="card-text">Username:</label>
                            <span class="card-text">{{user.username}}</span>
                        </div>
                        <div>
                            <label class="card-text">Email:</label>
                            <span class="card-text">{{user.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
        
    {% else %}
    {% endif %}

{% endblock %}