{% extends 'shared/base.html' %}

{% block content %}
    <h1 style="margin-top : 20px;"><center>My Projects</center></h1>
        <center><a href=/project/form class="btn btn-primary active btn-sm " role="button" aria-pressed="true">Add New Project</a></center>

    <div class="row row-cols-1 row-cols-md-3" style="margin-top: 20px; margin-left:auto; margin-right:auto">
        {% for my_project in all_my_projects %}
        <div class="col mb-4">
            <div class="card h-100">
                <img src="{{my_project.image_path}}" class="card-img-top" alt="{{my_project.image_path}}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'sdsapp:project' my_project.id %}"> {{ my_project.name }} </a>
                    </h5>
                    <p>{{ my_project.description }}</p>
                </div>
                <div class="card-footer text-muted">
                    <div>
                        <span class="badge badge-pill badge-info">{{my_project.subject}}</span>
                        <span class="badge badge-pill badge-success">{{my_project.grade}}</span>
                    </div> 
                </div> 
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
