{% extends 'shared/base.html' %}

{% block content %}
  <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 50px;">
    <div class="card-body" style="margin-left: auto; margin-right: auto; ">
      <h3 class="card-title"><center>New Subject</center></h1>
      <form action="{% url 'sdsapp:subjects' %}" method="post">
        {% csrf_token %}
            <input id="subject" type="text" name="subject"  value="{{ project.subject }}" placeholder="Enter Subject Name" class="form-control" required>
        <center>
          <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 10px;">Submit</button>
        </center>
      </form>
    </div>
  </div>
{% endblock %}