.navList {
    list-style-type: none;
    display: flex;
    border: px solid lightgray;
    padding: 1em;
    width: 100%;
}

.navList__route {
    margin: 0 0.5em;
}

/* h1 {
    font-family: 'Permanent Marker', cursive;
} */

.navbar-brand {
    font-family: 'Permanent Marker';
}

body {
    background: url(../../static/styles/Michelle_BG.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h1.homeTitle{
    background-color: white;
    padding: 10px;
}