.navList {
    list-style-type: none;
    display: flex;
    border: px solid lightgray;
    padding: 1em;
    width: 100%;
}

.navList__route {
    margin: 0 0.5em;
}

/* h1 {
    font-family: 'Permanent Marker', cursive;
} */

.navbar-brand {
    font-family: 'Permanent Marker';
}

body {
    background: url(../../static/styles/Michelle_BG.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* overflow: hidden; */
}

h1{
    background-color: white;
    padding: 10px;
    width: fit-content;
    margin: auto;
    border-radius: .5;
    border: 5px solid black;
    border-radius: 5px;
}

div.my_project_card{
    border: 2px solid black;
    border-radius: 5px;
}

h3{
    background-color: white;
    padding: 10px;
    width: fit-content;
    margin: auto;
    border-radius: .5;
    border: 2px solid black;
    border-radius: 5px;
}

button.dashboard{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

nav{
    border-bottom: 2px solid black;
}

div.form-card {
    border: 2px solid black;
}

div.subject-card{
    border: 2px solid black;
}

div.detail-card{
    border: 2px solid black;
}

label{
    min-width: 150px;
}

h6.card-title{
    min-width: 150px;
}

div.pills{
    margin-bottom: 10px;
}