{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Steam Driven SChool</title>

    <style>
        .navList {
            list-style-type: none;
            display: flex;
            border: 1px solid lightgray;
            padding: 1em;
        }

        .navList__route {
            margin: 0 0.5em;
        }
    </style>
</head>

<body>
     <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'sdsapp:home' %}">Home</a></li>
            
            {% if user.is_authenticated %}
            <li class="navList__route"><a href="{% url 'sdsapp:projects' %}">Projects</a></li>
            <li class="navList__route"><a href="{% url 'sdsapp:my_projects' %}">My Projects</a></li>
            {% comment %} <li class="navList__route"><a href="{% url 'sdsapp:dashboard' %}">Dashboards</a></li> {% endcomment %}
             <li class="navList__route"><a href="{% url 'sdsapp:logout' %}">Logout</a></li>
            {% else %}
            <li class="navList__route"><a href="{% url 'sdsapp:login' %}">Login</a></li>
            <li class="navList__route"><a href="{% url 'sdsapp:register' %}">Register</a></li>
            {% endif %}
        </ol>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>