{% extends 'shared/base.html' %}

{% block content %}
    <div class="card register-card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 50px;">
        <div class="card-body" style="margin-left: auto; margin-right: auto; ">
            <h2 class="card-title"><center>Register</center></h2>
            <form method="post">
                {% csrf_token %}
            <!--     These values will be saved as part of a new User instance -->
                <div class="form-group">
                    <input type="text" placeholder="first name" name="first_name" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="last name" name="last_name" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="username" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="password" name="password" required>
                </div>
                {% comment %} <div class="form-group">
                    <input type="password" placeholder="confirm password" name="confirm password" required>
                </div> {% endcomment %}
                <div class="form-group">
                    <input type="email" placeholder="email" name="email" required>
                </div>
                
            <!--     This value will be saved on the new teacher parent instance -->
                {% comment %} <input type="text" placeholder="is_teacher" name="is_teacher"> {% endcomment %}
                {% comment %} <fieldset>
                    <label for="is_teacher">Role: </label>
                    <select id="is_teacher" type="text" name="is_teacher">
                        <option value="True">Teacher</option>
                        <option value="False">Parent</option>
                    </select>
                </fieldset> {% endcomment %}
                
                <center><button type="submit" class="btn btn-primary btn-sm">Submit</button></center>
                
            </form>
        </div>
    </div>
{% endblock %}