{% extends 'shared/base.html' %}

{% block content %}
    <h1>{{ project.name }}</h1>

    <div>Description: {{ project.description }}</div>
    <div>Supplies: {{ project.supplies_needed }}</div>
    <div>Instructions: {{ project.instruction }}</div>

    <form action="{% url 'sdsapp:project_edit_form' project.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
    <form action="{% url 'sdsapp:project' project.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>
{% endblock %}
