{% extends 'shared/base.html' %}

{% block content %}
    <h3 style="margin-top : 20px;"><center>Projects</center></h3>

    <div class="row row-cols-1 row-cols-md-3" style="margin-top: 20px; margin-left:auto; margin-right:auto">
      {% for project in all_projects %}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'sdsapp:project' project.id %}"> {{ project.name }} </a></h5>
              <p>{{ project.description }}</p>
            </div>
            <div class="card-footer text-muted">
              <div>
                <span class="badge badge-pill badge-info">{{project.subject}}</span>
                <span class="badge badge-pill badge-success">{{project.grade}}</span>
                <span class="badge badge-pill badge-warning">{{project.teacher_parent.user.first_name}} {{project.teacher_parent.user.last_name}}</span>
              </div> 
            </div> 
          </div>
        </div>
        
      {% endfor %}
    </div>
    
{% endblock %}
